body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    padding: 50px;
    background-color: #f4f4f4;
    color: #000;
    display: flex;
}

.container {
    margin-left: 10%;
    width: 75%;
    padding: 10px;
}

.sidebar {
    width: 20%;
    background: #fff;
    color: #000;
    padding: 20px;
    position: fixed;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 80%;
}

.sidebar .socials a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 13px 0;
    font-weight: bold;
    font-size: 17px;
}

.sidebar .socials a:hover {
    background: #8a8888;
    border-radius: 10px;
    border: 2px solid rgb(34, 149, 178);
    margin: 10px;
    height: 2ex;
    color: #fff;
    text-align: center;
    font-weight: bold;
    
}

nav ul {
    padding: 20px;
    list-style: none;
    background: #fff;
    text-align: center;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    border-radius: 10px;
    color: #000;
    padding: 15px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #DB0007;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 10px;
    border: 2px solid rgb(34, 149, 178);
    margin: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

h2 {
    margin-top: 0;
}



section{
    width: 60%;
    float: right;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-right: 80px;
}
